@font-face {
    font-family: FiraMono, monospace;
    src: url(./FiraMono-Regular.woff2);
}

body {
    font-family: 'FiraMono', monospace;
    font-size: 90%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

    /* dark mode :) */
    background-color: rgb(20,20,20);
    color: rgb(240,240,240);
}

#manpage {
    font-family: 'FiraMono', monospace;
    font-size: 90%;
}

/* unvisited link */
a:link {
    color: rgb(0,255,150);
}

/* visited link */
a:visited {
    color: rgb(0,204,119);
}
