@font-face {
    font-family: FiraMono, monospace;
    src: url(./FiraMono-Regular.woff2);
}

img {
    border: 1px solid #aaaaaa;
}

body {
    font-family: 'FiraMono', monospace;
    font-size: 90%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

    /* dark mode :) */
    background-color: rgb(20,20,20);
    color: rgb(240,240,240);
}

#manpage {
    font-family: 'FiraMono', monospace;
    font-size: 90%;
}

#inner {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(50,50,50);
}

.container {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

@media (max-width: 750px) {
    .container {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    .container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1000px) {
    .container {
        margin-left: 30%;
        margin-right: 30%;
    }
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: rgb(179, 166, 216);
}

/* visited link */
a:visited {
    color: rgb(117, 94, 186);
}
